<p>Hello, <%= @user.email %>!</p>

<p>
    We're glad to inform you that your account has been approved!
    All account restrictions have been removed. You will now be able to make transactions.
</p>

<p>Click <%= link_to 'here', new_user_session_url %> to login to your now approved account.</p>

<p>Happy Trading!</p>
