<% if resource.errors.any? %>
  <div id="error_explanation">
      <% resource.errors.full_messages.each do |message| %>
        <p class="text-danger fw-bold m-0"><%= message %></p>
      <% end %>
  </div>
<% end %>
