<%= render 'pages/header' %>

<h3>ACCOUNTS</h3>

<ul>
    <% @traders.each do |trader| %>
    <li>
        <%= trader.email %>,
        <% if trader.approved? %><span>approved</span><% else %><span>pending</span><% end %>
    </li>
    <% end %>
</ul>

