<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-4">
            <div class="border rounded-4 bg-light px-4 py-4" id="form1">
<%= render "transaction_form", stock: @stock, kind: "buy", label: "Buy Stock" %>
</div>
</div>
</div>
</div>
