<div class="container mt-4">
<div class="row d-flex justify-content-center border px-4 py-4 rounded-4 bg-light">


<p>
<h1 class="fw-bold">All Accounts</h1>
<%= link_to "Create Account", new_account_path, class:"btn btn-primary" %>
</p>

<table class="table table-hover ">
    <thead>
    <tr>
    <th scope="col">Email</th>
    <th scope="col">Creation Date</th>
    <th scope="col">Status</th>
    </tr>
    </thead>
    <% @accounts.each do |account| %>
    <tr>
    <td><%= link_to account.email, account_path(account) %></td>
    <td><%= account.created_at.in_time_zone('Singapore').strftime("%b %d, %Y @ %l:%M %p") %></td>
    <td><% if account.approved? %><span>approved</span><% else %><span>pending</span><% end %></td>
    </tr>
    <% end %>
</table>

</div>
</div>
