<h1> Pending Accounts</h1>

<table class="table">
    <tr>
    <td><b>Email</b></td>
    <td><b>Action</b></td>
    </tr>
    <% @accounts.each do |account| %>
    <tr>
    <td><%= account.email %></td>
    <td>
    <%= link_to "Approve", approve_account_path(account), data: { turbo_method: :patch }, class:"btn btn-success" %>
    </tr>
    <% end %>
</table>