<div class="container mt-5">
<div class="row d-flex justify-content-center">
<div class="col-md-6">
<div class="row d-flex justify-content-center border px-4 py-4 rounded-4 bg-light">
<h1 class="fw-bold"> Pending Accounts</h1>
<hr/>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
        </tr>
    <thead>
    <% @accounts.each do |account| %>

    <tr>
    <td><%= account.email %></td>
    <td><%= link_to "Approve", approve_account_path(account), data: { turbo_method: :patch }, class:"btn btn-success" %>
    </tr>

    <% end %>
</table>

</div>
</div>
</div>
</div>
